# Visual Studio temporary files
.vs/
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# Unreal Engine temporary files
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
FileOpenOrder/

# Built programs
*.exe
*.dll
*.pdb